.container {
  width: 80vw;
  margin: 0 auto;
}

header {
  height: 10px;
  border-bottom: 1px solid black;
}

header img {
  height: 10px;
  padding: 10px;
}

header nav {
  float: right;
}

header nav a {
  line-height: 10px;
  padding: 0 10px;
}

